<div class="panel-container animate__animated animate__fadeInLeft">
  <h1>Sign Up</h1>
  <p>Get access to my web application by creating an account</p>
  <div>
    <div class="form-label">
      <label for="user">Username</label>
      <input type="text" id="user" placeholder="JohnDoe123" />
    </div>

    <div class="form-label">
      <label for="user">E-mail</label>
      <input type="text" id="user" placeholder="johndoe@domain.com" />
    </div>

    <div class="form-label">
      <label for="user">Password</label>
      <input type="password" id="user" placeholder="*********" />
    </div>

    <div class="form-label">
      <label for="user">First name</label>
      <input type="text" id="user" placeholder="John" />
    </div>

    <div class="form-label">
      <label for="user">Last name</label>
      <input type="text" id="user" placeholder="Doe" />
    </div>
  </div>
</div>
