<div class="panel-container animate__animated animate__fadeInLeft">
  <div class="signup-navigator">
    <i class="fa-solid fa-xmark" (click)="backLogin()"></i>
  </div>
  <h1>Recovery password</h1>
  <p>
    Enter the registered e-mail, and we going to provide you a recovery password
    link by e-mail.
  </p>
  <div class="signup-form">
    <div class="form-label">
      <label for="user">E-mail</label>
      <input type="text" id="user" placeholder="johndoe@domain.com" />
    </div>
  </div>
  <div class="signup-actions">
    <div class="accept-conditions"></div>
    <button class="signup-button">Send recovery e-mail</button>
  </div>
</div>
